@import "~antd/dist/antd.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}


* {
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}


.form-input:hover,
.form-input:focus {
	/* background-color: rgba(72, 187, 237, 0.12); */
	/* border: 1px solid rgba(72, 187, 237, 0.5); */
}

.form-input-select:hover,
.form-input-select:active {
	background-color: rgba(72, 187, 237, 0.12) !important;
	border: 0.5px solid rgba(72, 187, 237, 0.5) !important;
}

.form-custom-select {
	border-color: none !important;
}

div#react-select-2-listbox,
div#react-select-14-listbox,
div#react-select-102-listbox,
.react-select {
	z-index: 500 !important;
}

.form-custom-select:hover,
.form-custom-select:focus {
	border-color: none !important;
	outline-width: 0 !important;
}

.form-select__control:hover,
.form-select__control:focus {
	background-color: transparent;
	border: none !important;
	box-shadow: none !important;
	background-color: transparent !important;
}

.react-select__menu,
.react-select__menu-list {
	z-index: 500 !important;
}

.form-select__control {
	border: none !important;
	min-height: 100%;
	height: 100%;
	background-color: transparent !important;
	box-shadow: none !important;
}

input.otp-field {
	width: 50px !important;
	height: 3em;
}

input.small-field {
	width: 2em !important;
	height: 2em;
}

input.otp-field:focus,
input.otp-field:focus-visible,
input.otp-field::selection {
	outline: 0px !important;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 1px;
	text-overflow: "";
}

.ant-card-head {
	border: none !important;
}

.custom-dropdown {
	/* padding: 0.75rem 0.5rem !important; */
	display: flex !important;
	align-items: center !important;
}

.custom-dropdown .ant-space-item {
	display: flex;
	align-items: center;
	align-self: center;
}

.wallet-balance-card {
	border-radius: 1rem !important;
}
.ant-form-item {
	margin-bottom: 0 !important;
}

.required__field::after {
	content: "*";
	color: #e00000;
	font-size: smaller;
	vertical-align: super;
	line-height: 1;
	margin-left: 3px;
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.side-pad {
		@apply px-7 lg:px-14;
	}
	.mt-3-2 {
		margin-top: 0.8rem;
	}
	.text-dark-grey-text {
	}

	.lp-duplicate-wrapper {
		@apply side-pad h-pad mb-8 flex items-center justify-center lg:justify-between space-y-8 md:space-y-0 flex-wrap md:flex-nowrap md:space-x-4 lg:space-x-0;
	}
	.lp-duplicate-wrapper2 {
		@apply side-pad h-pad gap-[2rem] mb-8 flex flex-col-reverse items-center justify-center lg:justify-between space-y-8 md:space-y-0  md:flex-row md:space-x-4 lg:space-x-0;
	}

	.col-wrap {
		@apply w-full md:w-2/4 lg:w-1/4 mb-5 lg:mb-0;
	}

	.tcleft {
		@apply tcent lg:text-left;
	}

	.blk {
		@apply text-[#333333];
	}
	.window-warning {
		@apply bg-[#FAECE6] text-[#333333] p-3 text-dark-grey-text text-center flex items-center justify-center;
	}

	/* Wallet */
	.wallet-tabs {
		@apply rounded-md hover:scale-105 bg-[#F4F5F5] text-[#000000] p-1 text-center flex items-center justify-center gap-2 md:gap-2.5 w-fit cursor-pointer;
	}

	.wallet-balance-card {
		@apply rounded-2xl bg-[#FFFFFF] border border-solid border-[#EDEDED];
	}

	.navless-container {
		@apply w-full md:w-3/5 lg:w-2/6 flex flex-col mx-auto p-4 lg:p-9 rounded-lg bwite;
	}

	.activity-table {
		@apply rounded-2xl bg-[#FFFFFF] border border-solid border-[#EDEDED] h-1/3;
	}

	.lead-text {
		@apply leading-[50px];
	}

	.conv-pry {
		@apply pry-text med;
	}

	.smb {
		@apply font-semibold;
	}

	.rmd {
		@apply rounded-[4px];
	}

	.h-pad {
		@apply py-5 lg:py-8;
	}

	.form-input {
		@apply border border-input-field bwite p-3 pb-2 outline-none rounded-sm w-full trall !important;
	}

	.twofa-layout {
		@apply w-full bwite border border-solid border-[#EDEDED] rounded-2xl;
	}

	.item-label {
		@apply text-[#626262] text-base font-normal mb-2;
	}
	.item-value {
		@apply font-medium text-[#090909] text-lg m-0 !important;
	}

	.form-input-select {
		@apply border border-input-field bwite px-0 py-2 outline-none rmd w-full t4 text-[#111111] med trall;
	}

	.form-custom-select {
		@apply bwite px-0 outline-none rmd w-full t4 border border-[#194153] focus:outline-none focus:border-none trall;
	}

	.form-select__control {
		border: none !important;
	}

	.form-label {
		@apply text-[14px] text-[#333333] mb-1;
	}

	.pry-text {
		@apply text-[#48BBED];
	}

	.softext {
		@apply text-[#666666];
	}

	.pry-bg {
		@apply bg-[#48BBED];
	}

	.bf-bg {
		@apply bg-[#0A90CB];
	}

	.icon-clr {
		@apply text-[#368CB2];
	}

	.ovs {
		@apply overflow-x-scroll scrollbar-hide;
	}

	.twite {
		@apply text-white;
	}

	.bwite {
		@apply bg-white;
	}

	.store-btn {
		@apply curp active:scale-75 transition-transform;
	}

	.conv-holder {
		@apply relative h-[70px] bg-[#fafafa] rounded-md w-full flex items-center justify-between pl-6 z-50;
	}

	.conv-input {
		@apply pt-6 h-full w-3/5 md:w-[65%] text-lg lg:text-xl med bg-transparent outline-none placeholder:text-lg lg:placeholder:text-2xl;
	}

	.conv-text {
		@apply absolute left-6 top-2 text-[11px] med twide;
	}

	.conv-flag-wrap {
		@apply h-full flex-1 rounded-tr-md rounded-br-md pry-bg flexed w-2/5 md:max-w-[140px] twite twide curp;
	}

	.t2 {
		@apply text-[12px];
	}

	.t4 {
		@apply text-[14px];
	}

	.t6 {
		@apply text-[16px];
	}

	.upc {
		@apply uppercase;
	}

	.bgrn {
		@apply border border-green-500;
	}

	.bred {
		@apply border border-red-500;
	}

	.curp {
		@apply cursor-pointer;
	}

	.tcent {
		@apply text-center;
	}

	.flect {
		@apply flex items-center;
	}

	.med {
		@apply font-medium;
	}

	.trall {
		@apply transition-all;
	}

	.flexed {
		@apply flex items-center justify-center;
	}

	.flex-btw {
		@apply flex items-center justify-between;
	}

	.dpgry-txt {
		@apply text-[#252D3E];
	}

	.found-blk {
		@apply text-[#0D0D0D];
	}

	.nowrap {
		@apply whitespace-nowrap;
	}

	.trans-details-wrap {
		@apply flex items-center justify-between tracking-wide;
	}

	.trans-details-key {
		@apply mb-0 tracking-wide text-[#252D3E] t2;
	}

	.trans-details-value {
		@apply mb-0 med t2 md:text-sm flect;
	}

	.form-sel__wrap {
		@apply px-3 pr-[1.6rem] py-3 pb-2 rounded-sm curp w-full focus:outline-none mt-3-2 border border-[#194153];
	}

	.form-sel__label {
		@apply absolute top-2 left-2 px-1 bwite text-[#7C7C7C] text-[11px] z-[51];
	}

	.form-sel__icon {
		@apply text-[#79747E] t4 absolute top-[1.92rem] right-3 z-10;
	}

	.form-item__wrap {
		@apply border border-[#194153] px-3 py-3 rounded-sm curp relative w-full flect justify-between mb-5;
	}

	.form-item__title {
		@apply mb-0 text-[#252D3E];
	}

	.form-item__label {
		@apply absolute -top-2 left-2 px-1 bwite text-[#7C7C7C] text-[11px];
	}

	.form-item__icon {
		@apply text-[#79747E] t4 absolute top-5 right-3;
	}

	.form-custom-input-wrap {
		@apply border relative border-[#194153] rounded-sm curp w-full mt-3;
	}

	.form-custom-input {
		@apply w-full placeholder:text-[#384048] p-3 pb-2 focus:outline-none;
	}

	.capt {
		@apply capitalize;
	}

	.twide {
		@apply tracking-wide;
	}

	.footer-link {
		@apply text-black hover:text-opacity-90 transition-colors mb-3 curp w-max tracking-wide;
	}

	/* page forms */

	.form-wrap {
		@apply flex items-end justify-center md:justify-between flex-wrap lg:flex-nowrap space-y-5 lg:space-y-0;
	}

	.form-custom-label {
		@apply text-[#7c7c7c];
	}

	.form-wrapend {
		@apply flex items-end justify-center lg:justify-between flex-wrap lg:flex-nowrap space-y-5 lg:space-y-0;
	}

	.form-child {
		@apply w-full md:w-[48%] z-40;
	}

	.form-child3 {
		@apply w-full md:w-[30%];
	}

	.btn-text {
		@apply text-[#1994ca] font-medium lg:text-xl;
	}
	.onb-form-item{
		@apply flex w-full flex-col sm:flex-row items-start gap-[2rem]
	}
	.onb-form-wrapper{
		@apply w-full flex flex-col gap-[2.1rem]
	}
}

@keyframes vibrate {
	0% {
	  transform: translateX(0);
	}
	20% {
	  transform: translateX(-3px);
	}
	40% {
	  transform: translateX(3px);
	}
	60% {
	  transform: translateX(-3px);
	}
	80% {
	  transform: translateX(3px);
	}
	100% {
	  transform: translateX(0);
	}
  }

.custom-input-wrapper {
    position: relative;
	width: 100%;

  }
  .custom-input-label {
    position: absolute;
    left: 12px;
    transform: translateY(-50%);
    background-color: white;
	display: flex;
	align-items: center;
    padding: 0 5px;
    font-size: 11px;
    color: #7C7C7C;
    z-index: 10;
	gap: 0.2rem;
  }
 
 .custom-input {
	height: 2.75rem !important; 
	border: 1px solid #194153 !important;
	position: relative;
	border-radius: 2px;
	background-color: transparent !important;

 }
 .custom-input2 {
	height: 2.75rem !important; 
	border: 1px solid #194153 !important;
	border-right: 0px !important;
	position: relative;
	border-radius: 2px;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;


 }

 .custom-input3 {
	height: 2.75rem !important; 
	border: 1px solid #194153 !important;
	position: relative;
	border-radius: 2px;
	font: 10px !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;


 }
 .custom-input4 {
	height: 2.75rem !important; 
	border: 1px solid #194153 !important;
	position: relative;
	border-radius: 2px;
	padding-left: 6rem !important;
	font: 10px !important;
	background: none !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;


 }
 .custom-selector-ti{
	display: flex;
	position: absolute !important;
	z-index: 10 !important;
	left: 0;
	height: 2.75rem !important;
	width: 5.5rem !important;
	background: none !important;
 }
 
 
 
  .custom-input:focus , .custom-input2:focus, .custom-input3:focus, .custom-input4:focus, .custom-input5:focus {
    outline: none !important; 
	box-shadow: none !important;
}
.custom-input:invalid {
	border-color: red !important;
}
.custom-input:hover{
	border: 1px solid black;
	outline: none;
	box-shadow: none;

}
.ant-input{
	font-size: 14px !important;
}
.ant-select-selector{
	border: none !important;
	box-shadow: none !important;
	margin-top: 0.38rem !important;
	background-color: transparent !important;

}
 
.ant-select-dropdown {
	min-width: 18rem !important;
}
.ant-select-item-option-content{
	font-size: 0.82rem ;
}

.ant-picker{
	font-size: 10px !important;
	box-shadow: none !important;
	
}
.ant-picker-input >input{
	font-size: 14px !important;
}
.ant-form-item-has-error .custom-input, .ant-form-item-has-error .custom-input2, .ant-form-item-has-error .custom-input3, .ant-form-item-has-error .custom-input4, .ant-form-item-has-error .ant-radio-inner {
    border-color: red !important;
}
.ant-form-item-has-error .vibrate{
	animation: vibrate 0.3s ease !important;

}
.anticon{
	scale: 1.3;
}
.ant-select-item-option-selected {
	background-color: #48BBED !important;
	color: white !important;
}
.ant-radio-inner::after{
	background-color:  #48BBED !important;;
}

.ant-radio-checked .ant-radio-inner{
	border-color: #48BBED !important;
}
.ant-checkbox-checked .ant-checkbox-inner{
	background-color:  #48BBED !important;
	border-color:  #48BBED !important;;

}
.carousel-status{
    display: none !important;
}

.continuous-carousel {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }






